[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rmapy = "*"
requests = "*"
pypdf = "*"
pytest-playwright = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
"sstack.py" = "python3 sstack.py"
"main.py" = "python3 main.py"